.card1 {
  border: 1px solid #ccc;
  border-radius: 10px;
  width: 250px;
  padding: 15px;
  margin: 20px auto;
  text-align: center;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.7);
  background-color: rgb(230, 137, 137);
}

.img img {
  width: 100%;
  height: auto;
  border-radius:10px;
}



